body{
    /* SMooth Scroll */
    scroll-behavior: smooth;
}

.team__container {
    position: relative;
}

.curve {
    position: absolute;
    height: 250px;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.curve::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    top: 20%;
    width: 55%;
    height: 100%;
    transform: translate(85%, 60%);
    background-color: var(--bg-secondary);
}

.circle__decor{
    position: relative;
}
.circle__decor::after{
    content: "";
    display: block;
    position: absolute;
    border-radius: 100%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transform: rotate3d(0, 0, 1, -65deg) scale(0.8, 1.7);

    border: 1px solid var(--bg-primary);
}